<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>PosteADMaster</title>
    <!-- Bootstrap CSS -->

    <!----css3---->

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet" />

    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-lg bg-body-tertiary navbar-custom mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="assets/logo.jpg" alt="ADMaster" style="max-height: 40px; margin-right: 10px;">
                ADMaster
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0 navbar-custom-list"> <!-- Utilisez la classe mx-auto pour centrer les éléments -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="dashboard">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="liste-unite">Unité Organisationnelle</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="liste-user">Utilisateur</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="liste-groupe">Groupe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Permission</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <button class="btn btn-outline-primary" type="button" onclick="deconnecter()">
                        <a href="login"><i class="material-icons" style="color: rgb(214, 39, 8);">exit_to_app</i> </a>
                    </button>
                </form>
            </div>
        </div>
    </nav>
<style>
    .main-content {
            background-color: #f2f2f2; /* Gris clair */
            padding: 20px; /* Ajoutez un peu d'espacement intérieur pour séparer le contenu de l'arrière-plan */
        }
</style>

<div class="main-content">    
    <div class="row justify-content-center" style="background-color: white;">
        <div class="d-flex justify-content-between align-items-center bg-white p-3">
            <a href="unite" class="btn btn-primary">Ajouter</a>
            <div class="text-center w-100">
                <h2 class="m-0">Liste des Unités Organisationnelles</h2>
            </div>
            <div class="input-group input-group-sm" style="font-size: 12px; padding: 5px;">
                <input type="text" class="form-control form-control-sm" style="font-size: 12px; padding: 5px;" placeholder="Rechercher..." aria-label="Rechercher" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary btn-sm" type="button" id="button-addon2">Rechercher</button>
            </div>
        </div>
   
    <div style="height: 20px;"></div>
        
        
        
        <div class="col">
            <table class="table table-hover">
                <thead class="text-primary">
                    <tr>
                        <th>Nom unité</th>
                        <th>Nom Distingué</th>
                        <th>Description</th>
                        <th>Ville</th>
                        <th>Pays</th>
                        <th>Code Postal</th>
                        <th>Departement</th>
                        <th>Adresse</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let unite of uniteList">
                        <a href="unitedetails"><td>{{ unite.ou }}</td></a>
                        <td>{{ unite.distinguishedName }}</td>
                        <td>{{ unite.description }}</td>
                        <td>{{unite.l }}</td>
                        <td>{{ unite.Country }}</td>
                        <td>{{ unite.postalCode }}</td>
                        <td>{{ unite.st }}</td>
                        <td>{{ unite.street }}</td>
                        <td>
                            <!-- Déplacez les boutons vers la colonne "Actions" -->
                            <a href="modifier-unite"><button class="btn btn-primary" (click)="modifierUnite(unite)">✎</button></a>
                            <button class="btn btn-danger" (click)="confirmDelete(unite)">🗑</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    

    <footer class="footer" style="background-color: #f2f2f2;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <nav class="d-flex">
                        <ul class="m-0 p-0">
                            <li>
                                <a href="dashboard"> Accueil</a>
                            </li>
                            <li>
                                <a href="profile"> Profile </a>
                            </li>
                            <li>
                                <a href="login"> Déconnecter </a>
                            </li>
                           
                        </ul>
                    </nav>
                </div>
                <div class="col-md-6">
                    <p class="copyright d-flex justify-content-end">
                        &copy; 2024 PosteTnADMaster
                    </p>
                </div>
                
            </div>
        </div>
    </footer>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
$(document).ready(function () {
$("#sidebarCollapse").on("click", function () {
$("#sidebar").toggleClass("active");
$("#content").toggleClass("active");
});

$(".more-button,.body-overlay").on("click", function () {
$("#sidebar,.body-overlay").toggleClass("show-nav");
});
});
</script>
</body>

</html> 


                    